*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-phone img{
    width: 85%;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 0.7rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}

.switch-account {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    margin-top: 1rem;
}

.get-the-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.download {
    display: flex;
    justify-content: center;
    width: 100%;
}

.app-download {
    margin: 5px;
    height: 2.9rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('../img/googleplay-button.png');
}

footer{
    text-align: center;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 30px
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 100%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}